@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #3c3c3c;
    box-sizing: border-box;
}
body {
    background-color: #f4f7fd;
}

#show {
    display: block;
    text-align: center;
}
#hide {
    display: none;
}

header {
    background-color: #ffffff;
    width: 100%;
    /* min-height: 80px; */
    box-shadow: 0 2px 5px #24242454;
    /* border: 2px solid #ddd; */
}

header .header-wraper {
    width: 65%;
    padding: 10px;
    /* height: 60px; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header .header-wraper .logo-wraper {
    display: inline-flex;
    place-items: center;
}
header .header-wraper .logo-wraper img {
    width: 80px;
}
header .header-wraper .logo-wraper h1 {
    color: red;
    margin-left: 20px;
}

header .header-wraper .menu {
    display: flex;
    flex-direction: row-reverse;
}
header .header-wraper .menu ul {
    list-style: none;
}
header .header-wraper .menu ul li {
    display: inline-block;
    margin: 10px 10px 10px 20px;
}
header .header-wraper .menu ul li a,
header .header-wraper .second-menu ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
header .header-wraper .second-menu,
header .header-wraper .second-menu-hide {
    display: none;
}
header .header-wraper .hamburger-menu {
    display: none;
}

/* ===== HOME ===== */

#home #home-bg-cover {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1622046120199-32f27980473d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1432&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

#home #home-bg-cover .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.356);
    color: #ffffff;
    display: grid;
    align-items: center;
    justify-items: center;
}
#home #home-bg-cover .overlay .overlay-text {
    text-align: center;
}
#home #home-bg-cover .overlay .overlay-text h1 {
    font-size: 65px;
    color: #ffffff;
}
#home #home-bg-cover .overlay .overlay-text h2 {
    font-size: 35px;
    color: #ffffff;
}

/* ===== JOB ===== */

#jobs-container {
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
}
#jobs-container #list-items {
    display: grid;
    grid-gap: 30px;
    margin-top: 30px;
}
#jobs-container #heading-container {
    padding: 20px 20px 20px 0;
}
#jobs-container #heading-container h1 {
    font-size: 45px;
    text-transform: uppercase;
}
#jobs-container .item-full {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #24242454;
    /* border: 2px solid #ddd; */
    font-family: 'Heebo', sans-serif;
    /* display: grid;
    grid-template-rows: 2fr; */

}
#jobs-container .item-full img {
    width: 100%;
}
#jobs-container .item-full .model-title {
    font-size: 50px;
}
#jobs-container .item-full .details {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}
#jobs-container .item-full .details button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
#jobs-container .item-full .details .apply-btn {
    background-color: #1d5ba9f5;
}
#jobs-container .item-full .details .apply-btn a {
    color: #ffffff;
}
#jobs-container .item-full .details button a {
    text-decoration: none;
}
#jobs-container .item-full h1 {
    font-size: 1.125rem !important;
    font-weight: bold;
    text-transform: capitalize;
}
#jobs-container .item-full h3 {
    font-size: 20px;
    font-weight: 400;
}
#jobs-container .item-full h1,
#jobs-container .item-full h3 {
    margin-top: 5px;
}
#jobs-container .item-full h1 svg,
#jobs-container .item-full h3 svg {
    margin-right: 8px;
}

/* ===== Cars Review ===== */

#jobs-container h1 {
    margin: 30px 0;
}
#jobs-container .review-list {
    /* margin-top: 30px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
#jobs-container .review-list .review,
#jobs-container .contact-info,
#jobs-container .calculator {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #24242454;
    /* border: 2px solid #ddd; */
    font-family: 'Heebo', sans-serif;
}

/* ===== JOB Details ===== */

.job-details-container {
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: white;
    /* border: 2px solid #ddd; */
    box-shadow: 0 0 5px #24242454;
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    grid-column-gap: 30px;
}
.job-details-container .job-details p {
    margin-top: 30px;
}
.job-details-container h3 {
    margin-top: 10px;
}
.job-details-container .contact-info button {
    margin: 0 15px 0 0;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    background-color: #A200A6;
    margin-top: 15px;
}
.job-details-container .contact-info button a {
    color: #ffffff;
    text-decoration: none;
}
.cars-details-container {
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: white;
    /* border: 2px solid #ddd; */
    box-shadow: 0 0 5px #24242454;
    border-radius: 15px;
    padding: 30px;
}
.cars-details-container .car-details {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 50px;
}
.cars-details-container .car-details div h1 {
    margin-bottom: 10px;
}
.cars-details-container .car-details div ul {
    margin-left: 22px;
}
.cars-details-container .image-details .image-container .img {
    width: 70%;
    margin-left: 200px;
}

/* ===== REGISTER ===== */
#calculator {
    width: 60%;
    height: auto;
    margin: auto;
    display: grid;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #24242454;
    /* border: 2px solid #ddd; */
    border-radius: 15px;
}
#calculator label {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#calculator input {
    width: 100%;
    height: 45px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#calculator .submit-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1d5ba9f5;
    margin-top: 15px;
}
#calculator .submit-button:hover {
    cursor: pointer;
}

/* ===== CONTRACT ===== */
#Contract {
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
#Contract #contract-wraper {
    /* width: auto;
    height: auto; */
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    /* box-shadow: 0 2px 5px #24242454; */
    border: 2px solid #ddd;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
#Contract #contract-wraper h1 {
    grid-column: 1/3;
    margin-bottom: 25px;
}
#Contract #contract-wraper label {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    margin: 12px 0 10px 0;
}
#Contract #contract-wraper .terms {
    display: inline-flex;
    align-items: center;
}
#Contract #contract-wraper .terms input {
    width: 20px;
    height: 20px;
    margin-right: 10px
}
#Contract #contract-wraper .terms h4 {
    font-size: 22px;
}
#Contract #contract-wraper label input {
    width: 100%;
    height: 45px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
#Contract #contract-wraper .button-wraper {
    grid-column: 1/3;
}
#Contract #contract-wraper .button-wraper .submit-button {
    float: right;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    background-color: #A200A6;
    margin-top: 15px;
}
#Contract #contract-wraper .submit-button:hover {
    cursor: pointer;
}

/* ======= Responsive ======= */

@media screen and (max-width: 850px) {

    /* ===== NAVIGATION BAR ===== */
    header .header-wraper {
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
    }
    header .header-wraper .logo-wraper img {
        width: 60px;
    }
    header .header-wraper .logo-wraper h1 {
        color: red;
        font-size: 22px;
        margin-left: 10px;
    }
    header .header-wraper .hamburger-menu {
        display: inline-flex;
        flex-direction: row-reverse;
    }
    header .header-wraper .hamburger-menu a > svg {
        font-size: 30px;
        float: right;
        /* margin-right: 20px; */
    }
    header .header-wraper .menu {
        display: none;
    }
    header .header-wraper .second-menu-hide {
        display: none;
    }
    header .header-wraper .second-menu {
        display: block;
        grid-row: 2/2;
        grid-column: 1/3;
        z-index: 99;
    }   
    header .header-wraper .second-menu ul li {
        text-align: center;
        display: block;
        margin: 20px;
    }

    /* ===== HOME ===== */
    #home #home-bg-cover .overlay .overlay-text h1 {
        font-size: 30px;
    }
    #home #home-bg-cover .overlay .overlay-text h2 {
        font-size: 20px;
    }

    /* ===== JOB ===== */
    #jobs-container {
        width: 100%;
    }
    #jobs-container #heading-container {
        padding: 20px 20px 10px 20px;
    }
    #jobs-container #heading-container h1 {
        font-size: 35px;
    }
    #jobs-container .item-full {
        padding: 15px;
        height: 250px;
    }
    #jobs-container #list-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 5px 20px;
    }

    /* ===== REGISTER ===== */
    #Register #register-wraper {
        width: 100%;
        padding: 20px 20px 0 20px;
        background-color: #F0F2F5;
        border: none;
    }
    #Register #register-wraper label {
        font-size: 18px;
    }
    #Register #register-wraper label input[type="text"],
    #Register #register-wraper label input[type="email"] {
        font-size: 15px;
    }


    /* ===== JOB Details ===== */
    .job-details-container {
        width: auto;
        height: auto;
        margin: 15px;
        padding: 20px;
        display: block;
    }
    .job-details-container .job-details svg {
        margin-right: 5px;
    }
    .job-details-container .job-details h2 {
        font-size: 20px;
    }
    .job-details-container .job-details h3 {
        font-size: 16px;
    }
    .job-details-container .job-details p {
        margin-top: 20px;
    }
    .job-details-container .contact-info {
        margin-top: 20px;
    }

    #Contract #contract-wraper {
        display: block;
        background-color: #f4f7fd;
        padding: 20px;
        border: none;
    }
}